.headerContainer,
.headerContent {
  height: 7rem;
  margin: 0 auto;
}

.headerContainer {
  max-width: 1120px;
  padding: 0 2rem;
}

.headerContent {
  max-width: 700px;

  display: flex;
  align-items: center;

  img {
    cursor: pointer;
  }
}
